body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-weight: 400;

    color: #606060;
    font-size: 9pt;
    text-align: justify;
    word-wrap: normal;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a:link {
    color:inherit;
    text-decoration: inherit;
}

h1, h2, h3, p, ul, li {
    margin: 1mm 0 1mm 0;
}

.section {
    margin-bottom: 5mm;
}

.section h1 {
    font-size: 13pt;
    font-weight: 600;
    text-align: left;
    color: #305285;
    margin-bottom: 2mm;
    text-transform: uppercase;
    border-bottom: 0.1mm solid #305285;
    padding-bottom: 1mm;
}
.section h1 .icon {
    position: relative;
    top: 0.5mm;
    margin-right: 2mm;
}

.section .entry {
    margin-bottom: 3mm;
    page-break-inside: avoid;
}

.section .entry h2 {
    font-size: 11pt;
    text-align: left;
    color: #101010;
    font-weight: 600;
}

.section .entry h3 {
    font-size: 10pt;
    text-align: left;
    color: #101010;
    font-weight: 400;
}

.section .entry .dates {
    float: right;
    font-size: 10pt;
    margin-left: 3mm;
    color: #305285;
}

.section .entry h2 .annotation {
    color: #606060;
    font-weight: 400;
}